.canais {

    .table{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .tabela{
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            width: 85%;
            border-radius: 5px 5px 0 0 ;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
            thead tr {
                background-color: #FF0707;
                color: #fff;
                text-align: center;
                font: 500 16px poppins;
                
               
            }
            th{
                width: 200px;
                padding: 10px 0px;
                
            }
    
            td{
                padding: 15px 15px;
                color: #000000;
                text-align: center;
                font: 500 16px poppins;
                background-color: #fff;
                
                #lixeira {
                    width: 30px;
                    height: auto;
                    cursor: pointer;
                }
                #editar {
                    width: 30px;
                    height: auto;
                    cursor: pointer;
                }
            }
    
            tbody tr {
                border-bottom: 1px solid #dddd;
                
            }
    
            tbody tr:last-of-type {
                border-bottom: 2px solid #EF7C1D;
            }
    
            tbody tr.active-row{
                font-weight: bold;
                color: #009879;
            }
    
        }
    
      }
}